In [5]:
import os
print(os.getcwd())

/home/jovyan

In [6]:
### Paso 1: Importar librerías

In [7]:
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
### Paso 2: Cargar el conjunto de datos

In [11]:

df = pd.read_csv('BASE.csv')
df.head()

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,2,Medium,Depression,No,Decrease,1,Unsatisfied,1,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,1,Medium,Anxiety,No,Increase,3,Satisfied,2,Weekly,Good,Asia
2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,5,Medium,Anxiety,No,No Change,4,Unsatisfied,5,NaN,Poor,North America
3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,4,High,Depression,Yes,Increase,3,Unsatisfied,3,NaN,Poor,Europe
4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,2,High,NaN,Yes,Decrease,3,Unsatisfied,3,Weekly,Average,North America

In [ ]:
###Paso 3: Revisar estructura del dataset

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Employee_ID                        5000 non-null   object
 1   Age                                5000 non-null   int64
 2   Gender                             5000 non-null   object
 3   Job_Role                           5000 non-null   object
 4   Industry                           5000 non-null   object
 5   Years_of_Experience                5000 non-null   int64
 6   Work_Location                      5000 non-null   object
 7   Hours_Worked_Per_Week              5000 non-null   int64
 8   Number_of_Virtual_Meetings         5000 non-null   int64
 9   Work_Life_Balance_Rating           5000 non-null   int64
 10  Stress_Level                       5000 non-null   object
 11  Mental_Health_Condition            3804 non-null   object
 12  Access_to_Mental_Health_Resources  5000 non-null   object
 13  Productivity_Change                5000 non-null   object
 14  Social_Isolation_Rating            5000 non-null   int64
 15  Satisfaction_with_Remote_Work      5000 non-null   object
 16  Company_Support_for_Remote_Work    5000 non-null   int64
 17  Physical_Activity                  3371 non-null   object
 18  Sleep_Quality                      5000 non-null   object
 19  Region                             5000 non-null   object
dtypes: int64(7), object(13)
memory usage: 781.4+ KB

In [ ]:
### Paso 4: Descripción estadística general

In [13]:
df.describe(include='all')

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
count,5000,5000.000000,5000,5000,5000,5000.000000,5000,5000.000000,5000.000000,5000.000000,5000,3804,5000,5000,5000.000000,5000,5000.000000,3371,5000,5000
unique,5000,NaN,4,7,7,NaN,3,NaN,NaN,NaN,3,3,2,3,NaN,3,NaN,2,3,6
top,EMP5000,NaN,Female,Project Manager,Finance,NaN,Remote,NaN,NaN,NaN,High,Burnout,No,Decrease,NaN,Unsatisfied,NaN,Weekly,Good,Oceania
freq,1,NaN,1274,738,747,NaN,1714,NaN,NaN,NaN,1686,1280,2553,1737,NaN,1677,NaN,1755,1687,867
mean,NaN,40.995000,NaN,NaN,NaN,17.810200,NaN,39.614600,7.559000,2.984200,NaN,NaN,NaN,NaN,2.993800,NaN,3.007800,NaN,NaN,NaN
std,NaN,11.296021,NaN,NaN,NaN,10.020412,NaN,11.860194,4.636121,1.410513,NaN,NaN,NaN,NaN,1.394615,NaN,1.399046,NaN,NaN,NaN
min,NaN,22.000000,NaN,NaN,NaN,1.000000,NaN,20.000000,0.000000,1.000000,NaN,NaN,NaN,NaN,1.000000,NaN,1.000000,NaN,NaN,NaN
25%,NaN,31.000000,NaN,NaN,NaN,9.000000,NaN,29.000000,4.000000,2.000000,NaN,NaN,NaN,NaN,2.000000,NaN,2.000000,NaN,NaN,NaN
50%,NaN,41.000000,NaN,NaN,NaN,18.000000,NaN,40.000000,8.000000,3.000000,NaN,NaN,NaN,NaN,3.000000,NaN,3.000000,NaN,NaN,NaN
75%,NaN,51.000000,NaN,NaN,NaN,26.000000,NaN,50.000000,12.000000,4.000000,NaN,NaN,NaN,NaN,4.000000,NaN,4.000000,NaN,NaN,NaN
max,NaN,60.000000,NaN,NaN,NaN,35.000000,NaN,60.000000,15.000000,5.000000,NaN,NaN,NaN,NaN,5.000000,NaN,5.000000,NaN,NaN,NaN